@(transports: List[String], transportForm: Form[Transport])

@import helper._

@main("Prochain passage") {
    
    <h1>Il y a @transports.size() stations de vélos</h1>
    
    <ul>
        @for(transport <- transports) {
            <li>
                @transport @form(routes.Application.veloDisponible(transport)) { <input type="submit" value="sélectionner"> }
            </li>
        }
    </ul>
    
    @form(routes.Application.transports()) {
        <input type="submit" value="Retour à l'accueil">
    }
    
}