@(transports: List[Transport], transportForm: Form[Transport])

@import helper._

@main("Prochain passage") {
    
    <h1>@transports.size() transport(s)</h1>
    
    <ul>
        @for(transport <- transports) {
            <li>
                @transport.label @form(routes.Application.listTransports()) { <input type="submit" value="sélectionner"> }
            </li>
        }
    </ul>
    
    @form(routes.Application.transports()) {
        <input type="submit" value="Retour à l'accueil">
    }
    
}